@CHARSET "UTF-8";

table{
  	border-collapse:collapse;	
	width:60%;
	margin:20px auto;
 }

 tr td{
	border:2px solid #2E5E79;
	line-height:25px;
	text-align:left;
	padding-left:10px;
}
td:first-child{
	width:25%;
}
input{
	border:2px solid black;
}