<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OfficeControl</display-name>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool-mysql.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>proxool</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proxool</servlet-name>
    <url-pattern>/proxool</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>3600000</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>com.cslg.OfficeControl.Servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/userlogin.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.cslg.OfficeControl.Servlet.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/userinfo.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GatherInfo</servlet-name>
    <servlet-class>com.cslg.OfficeControl.Servlet.GatherInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GatherInfo</servlet-name>
    <url-pattern>/gatherinfo.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerInfo</servlet-name>
    <servlet-class>com.cslg.OfficeControl.Servlet.ControllerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerInfo</servlet-name>
    <url-pattern>/controllerinfo.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCtrl</servlet-name>
    <servlet-class>com.cslg.OfficeControl.Servlet.UpdateCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCtrl</servlet-name>
    <url-pattern>/updatectrl.servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>